@page
@model ITAssetManagement.Areas.Identity.Pages.Account.ForgotPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Forgot Password";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Send Reset Link</button>
</form>
